src/dissertation.acn
src/dissertation.aux
src/dissertation.bbl
src/dissertation.bcf
src/dissertation.blg
src/dissertation.dvi
src/dissertation.fdb_latexmk
src/dissertation.fls
src/dissertation.glo
src/dissertation.idx
src/dissertation.ilg
src/dissertation.ind
src/dissertation.log
src/dissertation.out.ps
src/dissertation.run.xml
src/dissertation.synctex.gz
src/dissertation.toc

*.log
*.fls
*.aux
*.fdb_latexmk

todo.md
help.md